:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
.loginDiv {
  width: 35%;
}

mat-card {
  max-width: 500px;
}

.button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}
