
<mat-drawer-container autosize>
<span *ngIf="currentUser$ | async as user">
  Olá, {{ user.name }}
    </span>  
    <button (click)="logout()">Sair</button>
    <mat-drawer #drawer opened="true" mode="side" position="start" [opened]="false" >
      <mat-nav-list class="exemple-button-row custom-nav-list">
        <mat-list-item>
          <button matButton="filled" mat-button> <mat-icon>home</mat-icon>Home</button>
        </mat-list-item>
        
      </mat-nav-list>
    </mat-drawer>
  <mat-drawer-content>
    <div style="text-align: center;min-height: 600px;">

      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
