<div class="register">
  <mat-card>
    <mat-card-header style="justify-content: center;">
    <mat-card-title>Cadastro de usuário</mat-card-title>
    <mat-card-subtitle>Login</mat-card-subtitle>
  </mat-card-header>
  <form #form="ngForm" (ngSubmit)="submitUserForm(form)">

    <mat-card-content>
      <mat-form-field style="width: 70%;">
        <mat-label>CPF</mat-label>
        <input matInput [(ngModel)]="subscribeUserFrom.cpf" required
        name="cpf"
       type="text"
       placeholder="000.000.000-00"
       maxLength="11"
       minlength="11"
       onlyNumbers>
      </mat-form-field>

      <mat-form-field style="width: 70%;">
        <mat-label>Nome completo</mat-label>
        <input matInput [(ngModel)]="subscribeUserFrom.name" name="name" type="text" required>
      </mat-form-field>

      <mat-form-field style="width: 70%;">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="subscribeUserFrom.email" name="email" type="text" required
        pattern="[a-z0-9!#$%&'*+/?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
      </mat-form-field>

      <mat-form-field style="width: 70%;">
        <mat-label>Senha</mat-label>
        <input matInput [(ngModel)]="subscribeUserFrom.password" name="password" type="password" required minlength="6"
        #passwordInput="ngModel">
      </mat-form-field>

        <mat-form-field style="width: 70%;">
        <mat-label>Repita a senha</mat-label>
        <input matInput  name="password" type="password" required minlength="6"
        #passwordInputValidator>
      </mat-form-field>
      <mat-error *ngIf="passwordInput.errors?.['minlength'] && passwordInput.touched">A senha deve ter no mínimo 6 caracteres.</mat-error>
      
      <mat-error *ngIf="passwordInput.value !== passwordInputValidator.value">As senhas não coincidem.</mat-error>
      
    </mat-card-content>

    <mat-card-footer>
      <mat-card-actions style="justify-content: center;" class="button-row">
        <button mat-stroked-button color="primary" type="submit">Cadastrar</button>
      </mat-card-actions>
    </mat-card-footer>
      </form>
  </mat-card>
</div>