<div>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Finadi</span>
    <ng-template #notLoggedIn>
      <button matButton="filled" routerLink="login" mat-button> <mat-icon>account_circle</mat-icon>Login</button>
    </ng-template>
    <button matButton="filled" routerLink="dashboard" mat-button> <mat-icon>home</mat-icon>Home</button>

    <span *ngIf="currentUser$ | async as user; else notLoggedIn">
    </span>
    
    <button mat-button="filled" routerLink="/" (click)="logout()" style="margin-left: auto;">Logout <mat-icon>logout</mat-icon></button>
  </mat-toolbar>
  <app-sidenav></app-sidenav>
</div>
